.html, body{
  margin: 0;
}
.header{
  width:100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: flex-end;
}

.headeritem{
  color:white;
  margin: 0px 15px 0px 0px;
}
.logo {
  font-size: 3rem;
  text-align: center;
}

/* Style for black text with white background */
.logo span:nth-child(odd) {
  color: black;
  background-color: white;
  padding: 5px;
}

/* Style for white text with black background */
.logo span:nth-child(even) {
  color: white;
  background-color: black;
  padding: 5px;
}
