<title>{{.Page.Title}} - {{.Site.Title}}</title>
<link rel="stylesheet" href="/style.css"/>
<link rel="stylesheet" href="/syntax.css"/>
<script src="/script.js"></script>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<meta property="site_name" content="BarrCodes" />
{{with .Params.author}}<meta name="author" content={{.}} />{{end}}
{{with .Description}} <meta name="description" content={{.}} /> {{end}}
{{with .Keywords}}<meta name="keywords" content={{delimit . ", "}} />{{end}}
{{- template "_internal/opengraph.html" . -}}
