@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/electrolize/v18/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC53FwrK3iLTcvneQg7B5iqpJlhKnPCkaL5UUM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_fjbvMwCp504jAa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
  color-scheme: light dark;
  margin: 0;
  --main-bg: light-dark(#EEEEEE,#111111);
  --main-text: light-dark(#111111,#EEEEEE);
  --link-color: light-dark(darkblue,steelblue);
  --secondary-background: #151515;
  --secondary-color: #EEEEEE;
  background: var(--main-bg);
  color: var(--main-text);
  font-size: 16px;
  font-family: Inter;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  visibility: visible;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Electrolize";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}
p{
  margin-top: 0;
}
a{
  color: var(--link-color)
}
header, footer{
  width:100%;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-background);
  display: flex;
  align-items: flex-end;
}
footer{
  justify-content:center;
  margin-top: 1.5rem;
  padding-top: 5px;
}
.headeritem{
  color: var(--secondary-color);
  margin: 0 1% 3px 1%;
}
.footeritem{
  color: var(--secondary-color);
  margin: 0 1% 3px 1%;
  text-decoration: none;
}
.footeritem span{
  text-decoration: underline;
}
.logo {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 1% 0 5%;
}
.logo span:nth-child(odd) {
  color: #111111;
  padding: 100% 0 0 0;
  background-color: #EEEEEE;
}
.logo span:nth-child(even) {
  color: #EEEEEE;
  padding: 100% 0 0 0;
  background-color: #111111;
}
#content{
  margin: auto;
  max-width: min(80%,1000px);
  min-width: 300px;
  line-height: 1.6;
  flex:1;
}
#theme_select{
  border: none;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: 2%;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #ddd;
  padding: 0 5px 0 5px;
}
pre{
  overflow-x: scroll;
  margin-top:0;
}
.pre_code{
  background-color: var(--secondary-background);
  color: var(--secondary-color);
  font-family: "Electrolize";
  font-weight: 400;
  font-style: normal;
  padding-left: 1rem;
  display: flex;
  align-items: flex-end;
}
.copy_code_div{
  margin-right: 1rem;
  margin-left: auto;
}
.copy_code_button{
  background-color: #222222;
  color: var(--secondary-color);
  font-family: "Electrolize";
  font-weight: 400;
  font-style: italic;
  height:2rem;
  width: 4rem;
  border:none;
  margin:0;
}
.copy_code_button:hover{
  background-color: #333333;
}
.copy_code_button:active{
  background-color: #444444;
}
